<div class="container">
  <div class="row" style="text-align:center">
    <h1>
      {{title}}!
    </h1>
    <img width="600px" src="/assets/img/tomatoes.jpg">
  </div>

  <p>Disfrute de una rica variedad de verduras especialmente cuidados con el fin 
    de brindarle una experiencia fresca y saludable. Nuestros agricultores realizan su trabajo con
  pasión y empeño buscando siempre el punto ideal para la recolección de los alimentos.
Estamos siempre abiertos a atenderle cualquier inquietud y de acompañarlo en cada momento del proceso de entrega. </p>

</div>



